<a href="https://colab.research.google.com/github/Athira612/python-lab/blob/main/cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
y=int(input("enter final leap year:"))
print ("future leap year from 2021")
for x in range(2021 , y+1):
   if ((x%4==0) and (x%100!=0)):
     print(x)

enter final leap year:2041
future leap year from 2021
2024
2028
2032
2036
2040

In [ ]:
#Qu.2 (a)
list1=[-10,2,5,7,9,23,56,-3,-6,-8,-2,-7,-5,-1,-11,21,22,18,-17,14,15,16]
list2=[x for x in list1 if x>0]
print("list of positive integers:",list2)

list of positive integers: [2, 5, 7, 9, 23, 56, 21, 22, 18, 14, 15, 16]

In [2]:
#qu.2(b)
n=int(input("enter the number you want squares:"))
squares=[i*i for i in range(1,n+1)]
print("square of the number:",squares)

enter the number you want squares:8
square of the number: [1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
#qu.2(c)
n1="1 show you that path"
vowels=['a','e','i','o','u']
l1=[]
for x in n1:
  if (x in vowels and x not in l1):
    l1.append(x)
print("vowels presnt in the given statement",l1)

vowels presnt in the given statement ['o', 'u', 'a']

In [5]:
#qu.2(d)
n1=input("enter a wprd:")
for l in range(len(n1)):
  print("ordinal value of",n1[1],"is",ord(n1[l]))

enter a wprd:athira
ordinal value of t is 97
ordinal value of t is 116
ordinal value of t is 104
ordinal value of t is 105
ordinal value of t is 114
ordinal value of t is 97

In [ ]:
x=[]
n1=int(input("enter any integer:"))
for i in range(1,n1+1):
    a=int(input())
    if (a>100):
      x.append('over')
    else:
      x.append(a)
print("modified list:",x)

enter any integer:5
200
10
80
100
490
modified list: ['over', 10, 80, 100, 'over']

In [ ]:
# Qu.7(a)
list1=[1,2,3,4,5,6,7,8]
list2=[10,3,11,9,14,15,12,13,16]
total=0
print("length of list1 is:",len(list1))
print("length of list2 is:",len(list2))
if list1 == list2:
    print("list1 and list2 have same length:")
else:
    print("list1 and list2 not have a same length:")

length of list1 is: 8
length of list2 is: 9
list1 and list2 not have a same length:

In [ ]:
# Qu.7(b)
total1=0
total2=0
list1=[1,2,3,4,5,6,7,8]
list2=[10,3,11,9,14,15,12,13,16]
for ele in range(0, len(list1)):
  total1 = total1 + list1[ele]
print("sum of elements in list:",total1)
for ele in range(0,len(list2)):
  total2 = total2 + list2[ele]
print("sum of element in list2:", total2)
if(total1==total2):
  print("the sum of element in list and list2 is same")
else:
  print("the sum of element in list and list2 is different")

sum of elements in list: 36
sum of element in list2: 103
the sum of element in list and list2 is different

In [ ]:
#Qu.7(c)
list1=[1,2,3,4,5,6,7,8]
setlist1=set(list1)
list2=[10,3,11,9,14,15,12,13,16]
setlist2=set(list2)
print("set of first list:",setlist1)
print("set of second list:",setlist2)
z=setlist1.intersection(setlist2)
print("common value present in list and list2 is:",z)

set of first list: {1, 2, 3, 4, 5, 6, 7, 8}
set of second list: {3, 9, 10, 11, 12, 13, 14, 15, 16}
common value present in list and list2 is: {3}